.options {
  display: flex;
  gap: 10px;
  justify-content: left;
  margin-top: 10px;
}

button {
  padding: 10px 20px;
  font-size: 1em;
  cursor: pointer;
  color: black;
  font-weight: normal;
  border: 1px solid black;
}

.good {
  background-color: lightgray; 
}

.good:hover, :focus {
  background-color: darkgray;
}

.neutral {
  background-color: lightgray; 
}

.neutral:hover {
  background-color: darkgray;
}

.bad {
  background-color: lightgray; 
}

.bad:hover {
  background-color: darkgray;
}

.reset {
  background-color: lightgray; 
}

.reset:hover {
  background-color: darkgray;
}